<div>
    <h2 id="page-heading">
        <span>Schedule Commerces</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-schedule-commerce" [routerLink]="['/schedule-commerce/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Schedule Commerce
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="scheduleCommerces">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Day</span></th>
            <th><span>Open Time</span></th>
            <th><span>Closingtime</span></th>
            <th><span>Commerce</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let scheduleCommerce of scheduleCommerces ;trackBy: trackId">
                <td><a [routerLink]="['/schedule-commerce', scheduleCommerce.id, 'view' ]">{{scheduleCommerce.id}}</a></td>
                <td>{{scheduleCommerce.day}}</td>
                <td>{{scheduleCommerce.openTime | date:'medium'}}</td>
                <td>{{scheduleCommerce.closingtime | date:'medium'}}</td>
                <td>
                    <div *ngIf="scheduleCommerce.commerce">
                        <a [routerLink]="['../commerce', scheduleCommerce.commerce?.id, 'view' ]" >{{scheduleCommerce.commerce?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/schedule-commerce', scheduleCommerce.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/schedule-commerce', scheduleCommerce.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'schedule-commerce', { outlets: { popup: scheduleCommerce.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
