<div>
    <h2 id="page-heading">
        <span>Categorías</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-category" [routerLink]="['/category/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Crear nueva categoría
            </span>
        </button>
    </h2>
    <br/>
    <div class="table-responsive" *ngIf="categories">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    Categorías
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-4 offset-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><fa-icon [icon]="'search'"></fa-icon></span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Buscar por nombre" />
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr class="row">
                                <th class="col-md-3"><span>ID</span></th>
                                <th class="col-md-3"><span>Nombre</span></th>
                                <th class="col-md-3"><span>Descripción</span></th>
                                <th class="col-md-3"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of filteredCategories ;trackBy: trackId" class="row">
                                <td class="col-md-3"><a [routerLink]="['/category', category.id, 'view' ]">{{category.id}}</a></td>
                                <td class="col-md-3">{{category.name}}</td>
                                <td class="col-md-3">{{category.description}}</td>
                                <td class="col-md-3" class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit" [routerLink]="['/category', category.id, 'view' ]" class="btn-info tableButtons ml-2 btn-sm">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                        <span class="d-none d-md-inline">Ver</span>
                                    </button>
                                        <button type="submit" [routerLink]="['/category', category.id, 'edit']" class="btn-primary tableButtons ml-2 btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Editar</span>
                                    </button>
                                        <button type="submit" (click)='deleteItem(category.id)' class="btn-danger tableButtons ml-2 btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Eliminar</span>
                                    </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>