<div class="page-header" data-parallax="true">
    <div class="filter"></div>
    <div class="container" [@slideInUp]="slideInUp">
        <div class="motto text-center">
            <div>
                <div id="title-header1">
                    <p>Bienvenidos a</p>
                </div>

                <div>
                    <h1><strong>TREBOL</strong>
                    </h1>
                </div>
            </div>

            <br>
            <div class="row text-center">
                <div class="col">
                    <h2>¿Te gustaría poder comprar en tus pulperías más cercanas desde la</h2>
                    <h2> comodidad de tu casa?</h2>
                    <br />
                </div>
            </div>
            <button href="javascript:void(0)" type="button" (click)="login()" class="btn btn-primary btn-round">Iniciar sesión</button>
            <button href="javascript:void(0)" type="button" class="btn btn-success btn-round ">Registrate</button>
        </div>
    </div>
</div>