<div >
    <br>

    <div class="btn-group flex-btn-group-container row justify-content-center">
        <a *ngIf="view" data-toggle="tooltip" title="Vista tabla" (click)="viewGrid()">
            <i class="col-md-1 float-right icon-grid icons font-2xl "></i>
        </a>
        <a *ngIf="!view" data-toggle="tooltip" title="Vista tarjetas" (click)="viewTag()">
            <i class="col-md-1 float-right icon-docs icons font-2xl "></i>
        </a>
    </div>

    <br>

    <div class="row justify-content-center " *ngIf="!view">

        <div class="col-md-9">
            <div class="card m-t-10 p-l-10 p-r-10">
                <div class="card-header" style="margin: 0px -9px">
                    <h2>Lista de compras</h2>
                    <button id="jh-create-entit" class="btn btn-primary float-right jh-create-entity create-list-purchase" [routerLink]="['/list-purchase/new']">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span >
            Crear nueva lista de compra
            </span>
                    </button>
                </div>
                <div class="card-body ">

                    <div class="table-responsive" *ngIf="listPurchases">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><span>Nombre</span></th>
                                <th><span>Descripción</span></th>
                                <th><span>Lista de productos</span></th>
                                <th><span>Comprador</span></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let listPurchase of listPurchases ;trackBy: trackId">
                                <td>{{listPurchase.name}}</td>
                                <td>{{listPurchase.description}}</td>
                                <td>
                                    <div *ngIf="listPurchase.productList">
                                        <a [routerLink]="['../product-list', listPurchase.productList?.id, 'view' ]" >{{listPurchase.productList?.id}}</a>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="listPurchase.seller">
                                        <a [routerLink]="['../user-extra', listPurchase.seller?.id, 'view' ]" >{{listPurchase.seller?.id}}</a>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                      <!--  <button type="submit"
                                                [routerLink]="['/list-purchase', listPurchase.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline">Ver</span>
                                        </button> -->
                                        <button type="submit"
                                                [routerLink]="['/list-purchase', listPurchase.id, 'edit']"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline">Editar</span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', 'list-purchase', { outlets: { popup: listPurchase.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline">Eliminar</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>



<!--================================================================================================================-->
<div class="animated fadeIn" *ngIf="view">
    <div class="row">
<div class="col-sm-6 col-md-4">
    <div class="card">
        <div class="card-header">
            Card with label
            <span class="badge badge-success float-right">Success</span>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
    </div>
</div><!--/.col-->

<div class="col-sm-6 col-md-4">
    <div class="card">
        <div class="card-header">
            Card with label
            <span class="badge badge-success float-right">Success</span>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
    </div>
</div><!--/.col-->

<div class="col-sm-6 col-md-4">
    <div class="card">
        <div class="card-header">
            Card with label
            <span class="badge badge-success float-right">Success</span>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
    </div>
</div><!--/.col-->

        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    Card with label
                    <span class="badge badge-success float-right">Success</span>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div><!--/.col-->

    </div>
</div>

</div>
