<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2 id="jhi-offer-heading">Crear o editar una oferta</h2>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-8">
                    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group" [hidden]="!offer.id">
                                <label for="id">ID</label>
                                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="offer.id" readonly />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_discount">Descuento(Solo números)</label>
                                <input type="number" class="form-control" name="discount" id="field_discount" [(ngModel)]="offer.discount" #discount="ngModel" [ngClass]="{'is-invalid': discount.errors?.required && discount.touched}" required />
                                <div *ngIf="discount.errors?.required && discount.touched" class="text-danger">
                                    Este campo es requerido
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_description">Descripción</label>
                                <input type="text" class="form-control" name="description" id="field_description" [(ngModel)]="offer.description" #description="ngModel" [ngClass]="{'is-invalid': description.errors?.required && description.touched}" required />
                                <div *ngIf="description.errors?.required && description.touched" class="text-danger">
                                    Este campo es requerido
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" id="cancel-save" class="btn btn-danger" (click)="previousState()">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                            </button>
                            <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Guardar</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>