<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2><span>Oferta</span></h2>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div *ngIf="offer">
                        <h2><span>Oferta</span></h2>
                        <hr>

                        <dl class="row-md jh-entity-details">
                            <dt><span>Descuento</span></dt>
                            <dd>
                                <span>{{offer.discount}} %</span>
                            </dd>
                            <dt><span>Descripción</span></dt>
                            <dd>
                                <span>{{offer.description}}</span>
                            </dd>
                            <dt><span>Fecha de caducidad (MM DD YYYY)</span></dt>
                            <dd>
                                <span>{{offer.expirationDate|date: "dd MM yyyy"}}</span>
                            </dd>

                            <dt><span>Estado</span></dt>
                            <dd>
                                <span *ngIf="offer.disabled === true"> Deshabilitada</span>
                                <span *ngIf="offer.disabled === false"> Habilitada</span>
                            </dd>
                        </dl>

                        <button type="submit" (click)="previousState()" class="btn btn-info">
                            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Regresar</span>
                        </button>

                        <button type="button" [routerLink]="['/offer', offer.id, 'edit']" class="btn btn-primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>