
<script src="product-list.component.ts"></script>
<div class="animated fadeIn container-fluid">
    <br>
    <h2 id="page-heading">
        <span>Listas de compras</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-list" [routerLink]="['/product-list/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Nueva lista
            </span>
        </button>
    </h2>
    <br>
    <div class="row" *ngIf="productLists">
        <jhi-card *ngFor="let listpurchaseMaster of listpurchaseArray ; trackBy: trackId" [listpurchaseAll]="listpurchaseMaster"></jhi-card>
    </div><!--/.col-->

</div>



