<!--<div>
    <h2 id="page-heading">
        <span>Product Lists</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-list" [routerLink]="['/product-list/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Product List
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productLists">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>State</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productList of productLists ;trackBy: trackId">
                <td><a [routerLink]="['/product-list', productList.id, 'view' ]">{{productList.id}}</a></td>
                <td>{{productList.state}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product-list', productList.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-list', productList.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product-list', { outlets: { popup: productList.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>-->
<!--==============================================================================================-->
<script src="product-list.component.ts"></script>
<div class="animated fadeIn">
    <br>
    <h2 id="page-heading">
        <span>Listas de compras</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-list" [routerLink]="['/product-list/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Nueva lista
            </span>
        </button>
    </h2>
    <br>
    <div class="row" *ngIf="productLists">
        <jhi-card *ngFor="let listpurchaseMaster of listpurchaseallArray ; trackBy: trackId" [listpurchaseAll]="listpurchaseMaster"></jhi-card>
    </div><!--/.col-->

</div>



