<div class="container-fluid justify-content-center">
<div class="col-sm-6 col-md-8">
    <div class="card">
        <div class="card-header">
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Nombre de la lista" [(ngModel)]="listPurchase.name" #name="ngModel" [ngClass]="{'is-invalid': name.errors?.required && name.touched}" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Descr" id="Descr" placeholder="Descripción (Opcional)" [(ngModel)]="listPurchase.description">
            </div>

            <a data-toggle="tooltip" title="Eliminar" (click)='previousState()'>
                <i class="col-md-1 float-right icon-trash icons font-2xl " ></i>
            </a>
            <a data-toggle="tooltip" title="Guardar" (click)='save()'>
                <i class="col-md-1 float-right icon-disc icons font-2xl "></i>
            </a>
            <a data-toggle="tooltip" title="Calendarizar">
                <i class="col-md-1 float-right icon-clock icons font-2xl "></i>
            </a>


        </div>
        <div class="card-body">
            <div class="table-responsive" >
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span>Nombre</span></th>
                        <th><span>Marca</span></th>
                        <th><span>Cantidad</span></th>
                        <th>
                            <div class="btn-group flex-btn-group-container">
                                <a data-toggle="tooltip" title="Agregar producto" (click)="addProduct()">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                </a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr *ngFor="let product of productArray">
                        <td><input type="text" class="form-control" name="nameProductUpdate" id="nameProductUpdate" value="{{product.name}}" [(ngModel)]="product.name" #nameProdUpdate="ngModel" [ngClass]="{'is-invalid': nameProdUpdate.errors?.required && nameProdUpdate.touched}" required></td>
                        <td><input type="text" class="form-control" name="brandUpdate" id="brandUpdate" value="{{product.brand}}" [(ngModel)]="product.brand" #brandProdUpdate="ngModel" [ngClass]="{'is-invalid': brandProdUpdate.errors?.required && brandProdUpdate.touched}" required></td>
                        <td align="center"><input type="number" class="form-control" name="quantityUpdate" id="quantityUpdate" value="{{product.quantity}}" [(ngModel)]="product.quantity" #quantityProdUpdate="ngModel" [ngClass]="{'is-invalid': quantityProdUpdate.errors?.required && quantityProdUpdate.touched}" required></td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <a class="col-md-4" (click)='deleteProduct(product)'
                                   replaceUrl="true"
                                   queryParamsHandling="merge">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

</div>
