<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subCategory">
            <h2><span>Subcategoría</span> {{subCategory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{subCategory.name}}</span>
                </dd>
                <dt><span>Descripción</span></dt>
                <dd>
                    <span>{{subCategory.description}}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Volver</span>
            </button>

            <button type="button" [routerLink]="['/sub-category', subCategory.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
            </button>
        </div>
    </div>
</div>