<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commerceUser">
            <h2><span>Commerce User</span> {{commerceUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Id Commerce</span></dt>
                <dd>
                    <span>{{commerceUser.idCommerce}}</span>
                </dd>
                <dt><span>Id User</span></dt>
                <dd>
                    <span>{{commerceUser.idUser}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commerce-user', commerceUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
