<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="pull">
    <section id="wrapper" class="login-register login-sidebar" style="background-image:url(../../../content/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" name="form" role="form" (ngSubmit)="register(registerForm); " #registerForm="ngForm">
                    <a href="javascript:void(0)" class="text-center db" routerLink=""><img src="../../../content/images/logo-trebol.png" alt="Home" /><br/>TREBOL</a>
                    <!-- <img src="../../../content/images/logo-text.png" alt="Home" /> -->
                    <!-- Inicio de las alertas -->
                    <div class="alert alert-danger" *ngIf="error">
                        <strong>El registro falló!</strong> Por favor, intente de nuevo.
                    </div>

                    <div class="alert alert-danger" *ngIf="errorUserExists">
                        <strong>El nombre de usuario ya exite.</strong> Por favor, elija otro.
                    </div>

                    <div class="alert alert-danger" *ngIf="errorEmailExists">
                        <strong>El correo ya existe</strong> Por favor, elija otro.
                    </div>

                    <div class="alert alert-danger" *ngIf="doNotMatch">
                        Las contraseñas no coinciden.
                    </div>
                    <!-- Fin de las alertas  -->

                    <h3 class="box-title m-t-40 m-b-0" [@fadeIn]="fadeIn">Registrate ahora
                        <p *ngIf="rolActive === 1"> como dueño tu comercio</p>
                    </h3>

                    <small> Crea una cuenta y disfruta</small>

                    <br>
                    <div class="form-group m-t-10">
                        <label class="d-lg-none form-control-label" for="login">Nombre de usuario</label>
                        <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" (input)="lowerCase($event)" #login="ngModel" placeholder="Nombre de usuario" required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                        <div *ngIf="login.dirty && login.invalid">
                            <small class="form-text text-danger" *ngIf="login.errors.required">
                        Su nombre de usuario es requerido.
                    </small>
                            <small class="form-text text-danger" *ngIf="login.errors.minlength">
                        Su nombre de usuario tiene que tener al menos 1 caractér.
                    </small>
                            <small class="form-text text-danger" *ngIf="login.errors.maxlength">
                        Su nombre de usuario no puede contener mas de 50 caracteres.
                    </small>
                            <small class="form-text text-danger" *ngIf="login.errors.pattern">
                        Su nombre de usuario solo puede contener números y letras.
                    </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label class="d-lg-none form-control-label" for="email">Correo electrónico</label> -->
                        <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Correo electrónico" [(ngModel)]="registerAccount.email" minlength=5 maxlength=254 email required>
                        <div *ngIf="email.dirty && email.invalid">
                            <small class="form-text text-danger" *ngIf="email.errors.required">
                        Su correo electrónico es requerido.
                    </small>
                            <small class="form-text text-danger" *ngIf="email.errors.invalid">
                        Su correo no es válido.
                    </small>
                            <small class="form-text text-danger" *ngIf="email.errors.minlength">
                        Su correo electrónico es requerido y necesita al menos 5 caracteres.
                    </small>
                            <small class="form-text text-danger" *ngIf="email.errors.maxlength">
                            Su correo electrónico debe tener máximo 100 caracteres.
                    </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label class="d-lg-none form-control-label" for="password">Nueva contraseña</label> -->
                        <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="Nueva contraseña" [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                        <div *ngIf="password.dirty && password.invalid">
                            <small class="form-text text-danger" *ngIf="password.errors.required">
                        Su contraseña es requerida.
                    </small>
                            <small class="form-text text-danger" *ngIf="password.errors.minlength">
                        Su contraseña requiere al menos 4 caracteres.
                    </small>
                            <small class="form-text text-danger" *ngIf="password.errors.maxlength">
                        Su contraseña requiere máximo 50 caracteres.
                    </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                    </div>
                    <div class="form-group">
                        <!-- <label class="d-lg-none form-control-label" for="confirmPassword">Confirmación de su nueva contraseña</label> -->
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirme su nueva contraseña " [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
                        Su contraseña es requerida.
                    </small>
                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
                        Su contraseña requiere al menos 4 caracteres.
                    </small>
                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
                        Su contraseña requiere máximo 50 caracteres.
                    </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary p-t-0">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup"> Estoy de acuerdo con los <a href="#">términos</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button type="submit" [disabled]="!registerForm.form.valid" class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light">Registrarme</button>
                            <!-- <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrarme</button> -->
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center" (click)="changeRol(1)" *ngIf="rolActive === 0">
                            <p>¿Tienes un local comercial?
                                <a href="javascript:void(0)" class="text-info m-l-5"><b>Ingresa aquí</b></a></p>
                        </div>

                        <div class="col-sm-12 text-center" *ngIf="rolActive === 1">
                            <p>¿Quieres poder comprar?
                                <a href="javascript:void(0)" (click)="changeRol(0)" class="text-info m-l-5"><b>Ingresa aquí</b></a></p>
                        </div>
                        <!-- <div class="col-sm-12 text-center">
                    <p>¿Quieres ser mensajero? <br>
                        <a href="" class="text-info m-l-5"><b>Ingresa aquí</b></a></p>
                </div> -->
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<!-- <div class="row login-register login-sidebar">
    <div class="col-lg-8">
        <img class="img-fluid" src="../../../content/images/background/login-register.jpg" alt="">
    </div>

</div> -->



<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->