<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pointsCommerce">
            <h2><span>Points Commerce</span> {{pointsCommerce.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Points</span></dt>
                <dd>
                    <span>{{pointsCommerce.points}}</span>
                </dd>
                <dt><span>Commerce</span></dt>
                <dd>
                    <div *ngIf="pointsCommerce.commerce">
                        <a [routerLink]="['/commerce', pointsCommerce.commerce?.id, 'view']">{{pointsCommerce.commerce?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/points-commerce', pointsCommerce.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
