<div class="">

    <section class="header12 cid-rkEkBYSRuk mbr-fullscreen mbr-parallax-background" id="header12-3">

    

        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
        </div>
    
        <div class="container  ">
                <div class="media-container">
                    <div class="transparent-bg col-md-12 align-center">
                        <h1 style="font-style: italic;" class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-1 text-uppercase">
                             <strong>Trebol</strong> </h1>
                        <p class="mbr-text pb-3 mbr-white mbr-fonts-style display-5">
                            Su comercio en línea
                        </p>

                        <div class="icons-media-container mbr-white">
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="icon-block">
                                
                                    <span class="mbr-iconfont mbri-shopping-cart"></span>

                                
                                </div>
                                <h5 class="mbr-fonts-style display-5">
                                    Productos</h5>
                            </div>
    
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="icon-block">
                                    
                                        <span class="mbr-iconfont mbrib-delivery"></span>
                                    
                                </div>
                                <h5 class="mbr-fonts-style display-5">
                                    Entregas</h5>
                            </div>
    
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="icon-block">
                                    
                                        <span class="mbr-iconfont mbrib-pin"></span>
                                    
                                </div>
                                <h5 class="mbr-fonts-style display-5">
                                    Negocios</h5>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    
    </section>
</div>
