<script src="../../category/category-delete-dialog.component.ts"></script>
<div class="col-sm-6 col-md-12">
    <div class="card">
        <div class="card-header">
            <div *ngIf="listpurchaseAll.listpurchase != null">
                <a data-toggle="tooltip" title= "{{listpurchaseAll.listpurchase.description}}"> {{listpurchaseAll.listpurchase.name}}</a>
            </div>

            <a data-toggle="tooltip" title="Eliminar" (click)='deleteItem(listpurchaseAll.listpurchase)'>
                <i class="col-md-1 float-right icon-trash icons font-2xl " ></i>
            </a>
           <!-- <a data-toggle="tooltip" title="Editar" [routerLink]="['/product-list', listpurchaseAll.listpurchase.id, 'edit']">
                <i class="col-md-1 float-right icon-pencil icons font-2xl "></i>
            </a>-->
            <a data-toggle="tooltip" title="Calendarizar">
                <i class="col-md-1 float-right icon-clock icons font-2xl "></i>
            </a>

        </div>
        <div class="card-body">
            <div class="table-responsive" >
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span><a data-toggle="tooltip" title="Todos"><i class="icon-check icons font-2xl  mt-4"></i></a></span></th>
                        <th><span>Nombre</span></th>
                        <th><span>Marca</span></th>
                        <th><span>Cantidad</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let productMaster of listpurchaseAll.productlist">
                        <td align="center"><a data-toggle="tooltip" title="Agregar a compra"><i class="icon-check icons font-2xl  mt-4"></i></a></td>
                        <td>{{productMaster.name}}</td>
                        <td>{{productMaster.brand}}</td>
                        <td align="center">{{productMaster.quantity}}</td>
                        <td class="text-right">

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
