
<div class="container-fluid">
        <div class="card">
            <div class="card-header">
                        <h2 id="jhi-commerce-heading">Comercio</h2>
            </div>
            <div class="card-body">
                    <div class="row justify-content-center">
                            <div class="col-8">
                                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                                    <div>

                                        <div class="form-group">
                                            <label class="form-control-label" for="field_identification">Identificación</label>
                                            <input type="number" class="form-control" name="identification" id="field_identification"
                                                [(ngModel)]="commerce.identification" />
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" for="field_name">Nombre del comercio</label>
                                            <input type="text" class="form-control" name="name" id="field_name"
                                                [(ngModel)]="commerce.name" />
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" for="field_address">Dirección</label>
                                            <textarea rows="3"  type="text-area" class="form-control" name="address" id="field_address"
                                                [(ngModel)]="commerce.address"></textarea>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <i class="icon-map"></i> Marque la ubicación de su comercio
                                            </div>
                                            <div class="card-body">
                                                <div #map id="map"></div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" for="field_email">Email</label>
                                            <input type="text" class="form-control" name="email" id="field_email"
                                                [(ngModel)]="commerce.email" />
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" for="field_phone">Teléfono</label>
                                            <input type="text" class="form-control" name="phone" id="field_phone"
                                                [(ngModel)]="commerce.phone" />
                                        </div>

                                        <div class="checkbox checkbox-primary p-t-0">
                                            <input id="checkbox-state" type="checkbox" (click)="changeState()" [checked]="!chkState">
                                            <label for="checkbox-state"> Active su comercio y sea visible a sus clientes!</label>
                                        </div>

                                    </div>
                                    <div>
                                        <button type="button" id="cancel-save" class="btn btn-danger"  (click)="previousState()">
                                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                                        </button>
                                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success">
                                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Guardar</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                    </div>
            </div>

        </div>



        



</div>

