
<div class="container-fluid">
        <div class="card">
            <div class="card-header">
                        <h2 id="jhi-commerce-heading">Comercio</h2>
            </div>
            <div class="card-body">
                    <div class="row justify-content-center">
                            <div class="col-8">
                                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                                    <div>
                                    
                                        <!-- <div class="form-group" [hidden]="!commerce.id">
                                            <label for="id">ID</label>
                                            <input type="text" class="form-control" id="id" name="id"
                                                [(ngModel)]="commerce.id" readonly />
                                        </div> -->
                                        <div class="form-group">
                                            <label class="form-control-label" for="field_identification">Identificación</label>
                                            <input type="number" class="form-control" name="identification" id="field_identification"
                                                [(ngModel)]="commerce.identification" />
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" for="field_name">Nombre del comercio</label>
                                            <input type="text" class="form-control" name="name" id="field_name"
                                                [(ngModel)]="commerce.name" />
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" for="field_address">Dirección</label>
                                            <textarea rows="3"  type="text-area" class="form-control" name="address" id="field_address"
                                                [(ngModel)]="commerce.address"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" for="field_latitude">Latitud</label>
                                            <input type="number" class="form-control" name="latitude" id="field_latitude"
                                                [(ngModel)]="commerce.latitude" />
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" for="field_longitud">Longitud</label>
                                            <input type="number" class="form-control" name="longitud" id="field_longitud"
                                                [(ngModel)]="commerce.longitud" />
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" for="field_email">Email</label>
                                            <input type="text" class="form-control" name="email" id="field_email"
                                                [(ngModel)]="commerce.email" />
                                        </div>
                                        <!-- <div class="form-group">
                                            <label class="form-control-label" for="field_ranking">Ranking</label>
                                            <input type="number" class="form-control" name="ranking" id="field_ranking"
                                                [(ngModel)]="commerce.ranking" />
                                        </div> -->
                                        <!-- <div class="form-group">
                                            <label class="form-control-label" for="field_photograph">Imagen</label>
                                            <input type="text" class="form-control" name="photograph" id="field_photograph"
                                                [(ngModel)]="commerce.photograph" />
                                        </div> -->
                                        <!-- <div class="form-group">
                                            <label class="form-control-label" for="field_state">State</label>
                                            <input type="checkbox" class="form-control" name="state" id="field_state"
                                                [(ngModel)]="commerce.state" />
                                        </div> -->
                                        <div class="form-group">
                                            <label class="form-control-label" for="field_phone">Teléfono</label>
                                            <input type="text" class="form-control" name="phone" id="field_phone"
                                                [(ngModel)]="commerce.phone" />
                                        </div>                       
                                     <!--     <div class="form-group">
                                            <label class="form-control-label" for="field_productCommerce">Product Commerce</label>
                                            <select class="form-control" id="field_productCommerce" name="productCommerce" [(ngModel)]="commerce.productCommerce" >
                                                <option [ngValue]="null"></option>
                                                <option [ngValue]="productCommerceOption.id === commerce.productCommerce?.id ? commerce.productCommerce : productCommerceOption" *ngFor="let productCommerceOption of productcommerces; trackBy: trackProductCommerceById">{{productCommerceOption.id}}</option>
                                            </select>
                                        </div> -->
                                        <!-- <div class="form-group">
                                            <label class="form-control-label" for="field_offer">Offer</label>
                                            <select class="form-control" id="field_offer" name="offer" [(ngModel)]="commerce.offer">
                                                <option [ngValue]="null"></option>
                                                <option [ngValue]="offerOption.id === commerce.offer?.id ? commerce.offer : offerOption" *ngFor="let offerOption of offers; trackBy: trackOfferById">{{offerOption.id}}</option>
                                            </select>
                                        </div> -->
                                        <!-- <div class="form-group">
                                            <label class="form-control-label" for="field_owner">Owner</label>
                                            <select class="form-control" id="field_owner" name="owner" [(ngModel)]="commerce.owner" >
                                                <option [ngValue]="null"></option>
                                                <option [ngValue]="userExtraOption.id === commerce.owner?.id ? commerce.owner : userExtraOption" *ngFor="let userExtraOption of userextras; trackBy: trackUserExtraById">{{userExtraOption.id}}</option>
                                            </select>
                                        </div> -->
                                    </div>
                                    <div>
                                        <button type="button" id="cancel-save" class="btn btn-danger"  (click)="previousState()">
                                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                                        </button>
                                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success">
                                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Guardar</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                    </div>
            </div>

        </div>



        



</div>

