<div>
    <h2 id="page-heading">
        <span>Ranking Per Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ranking-per-order" [routerLink]="['/ranking-per-order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ranking Per Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="rankingPerOrders">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Comment From Buyer</span></th>
            <th><span>Comment From Seller</span></th>
            <th><span>Ranking</span></th>
            <th><span>Buyer</span></th>
            <th><span>Seller</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rankingPerOrder of rankingPerOrders ;trackBy: trackId">
                <td><a [routerLink]="['/ranking-per-order', rankingPerOrder.id, 'view' ]">{{rankingPerOrder.id}}</a></td>
                <td>{{rankingPerOrder.commentFromBuyer}}</td>
                <td>{{rankingPerOrder.commentFromSeller}}</td>
                <td>{{rankingPerOrder.ranking}}</td>
                <td>
                    <span *ngFor="let buyer of rankingPerOrder.buyers; let last = last">
                            <a class="form-control-static" [routerLink]="['../user-extra', buyer?.id, 'view' ]">{{buyer.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let seller of rankingPerOrder.sellers; let last = last">
                            <a class="form-control-static" [routerLink]="['../user-extra', seller?.id, 'view' ]">{{seller.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ranking-per-order', rankingPerOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ranking-per-order', rankingPerOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ranking-per-order', { outlets: { popup: rankingPerOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
