<div class="container-fluid">
    <div class="card text-center">
        <div class="card-header">
            <h1>Ordenes</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col" *ngIf="orderItems === undefined || orderItems.length === 0">
                    <strong>No hay ordenes pendientes</strong>
                </div>
            </div>
            <div *ngFor="let order of orderItems">
                <div class="row animated fadeIn" [ngClass]="{'animated slow fadeOut': order.state === 2}">
                    <div class="col-lg-2 border-right">
                        <h2 class="align-middle">#{{order.id}}</h2>
                    </div>
                    <div class="col text-center">
                        <div class="row">
                            <div class="col">
                                <a href="javascript:void(0)" [routerLink]="['/', 'order-item', { outlets: { popup: order.id + '/update'} }]" replaceUrl="true" queryParamsHandling="merge" class=" btn-sm pull-right pointer">
                                    <fa-icon [icon]="'eye'"></fa-icon> Ver orden</a>
                            </div>
                            <!--  (click)="detail(order.productsPerOrders)" -->
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btb btn-warning btn-lg pointer" *ngIf="order.state == 0" (click)="changeState(order.id)">Preparar orden</button>
                                <button class="btb btn-success btn-lg pointer" *ngIf="order.state == 1" (click)="changeState(order.id)">Finalizar orden</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <small class="form-text text-secondary pull-right"> <fa-icon [icon]="'clock'"></fa-icon>Solicitada: {{order.date | date}},  a las: {{order.date | date:'shorTime'}} </small>
                            </div>
                        </div>
                        <hr/>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>