<div class="modal-header">
    <h4 class="modal-title">Productos</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
        </button>
</div>
<div class="modal-body">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let product of products">
                <td>{{product.product.name}}</td>
                <td>{{product.quantity}}</td>
            </tr> -->
        </tbody>
    </table>

</div>

<!-- <div class="modal-header">
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
        </button>

</div>
<div class="modal-body">
    <h1>Hola</h1>
</div> -->