<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Cambiar contraseña</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Esta cuenta de correo no está registrada!</strong> Por favor intente de nuevo.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Ingrese su dirección de correo electronico.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Revise su correo electrónico para obtener detalles sobre cómo restablecer su contraseña.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Su Email"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=254 #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            Su correo es requerido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            Su correo es invalido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                           Su correo electrónico debe tener al menos 5 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                            Su correo electrónico no puede tener más de 100 caracteres.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary">Cambiar</button>
            </form>
        </div>
    </div>
</div>
